<ng-container>
    <app-header></app-header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-5 px-5" >
                <img 
                    class="img-fluid"
                    alt="todo"
                    src="https://d3qg9zffrnl4ph.cloudfront.net/web/static/build/sites/images/d3e907c94aea09975ca830971f14dd94.png">
            </div>
            <div class="col-lg-6  py-5 px-5">
                <app-todo-form></app-todo-form>
                <app-todos></app-todos>
            </div>
        </div>
    </div>
</ng-container>